html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--secondary-background-color: #f5f4fa;
	--text-background-color: rgba(104, 107, 145, 0.8);
	--button-text-color: #ffffff;
	--accent-color: #2196f3;
	--footer-background-color: #2f303a;
}
/* Глобальные стили */
ul {
	list-style: none;
}
a[href] {
	color: var(--primary-text-color);
	text-decoration: none;
}
a[href]:hover,
a[href]:focus {
	color: var(--accent-color);
}
/* Логотипы и кнопки */
.button {
	color: var(--button-text-color);
	background-color: var(--accent-color);
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.9;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
}
.logo {
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
}
.logo:hover,
.logo:focus {
	color: var(--primary-text-color);
}
.logo .web {
	color: var(--accent-color);
}
.link:hover .link:focus {
	color: var(--accent-color);
}

.link {
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}
/* Заголовки */
.main-title {
	color: var(--button-text-color);
	font-family: Roboto, sans-serif;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.main-header {
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
}
.header {
	color: var(--primary-text-color);
}
.benefits .header {
	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.team .header {
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
}
/* Текст */
.benefits .text {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}
.text {
	color: var(--secondary-text-color);
}
.secondary-text {
	color: var(--button-text-color);
	background-color: var(--text-background-color);
}
.duties .secondary-text {
	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.team {
	background-color: var(--secondary-background-color);
}
.team .text {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
}
/* Футер */
.footer {
	background-color: var(--footer-background-color);
}
.address {
	font-style: normal;
	color: #ffffff;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}
.address.text {
	color: rgba(255, 255, 255, 0.6);
	font-style: normal;
	font-family: Roboto;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}
.footer-title {
	color: var(--button-text-color);
	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.footer-title .address-text {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}

/* Портфолио */
.portfolio .button {
	color: var(--primary-text-color);
	background-color: var(--secondary-background-color);
}
.portfolio .button:hover,
.portfolio .button:focus {
	color: var(--button-text-color);
	background-color: var(--accent-color);
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
}
.projects .header {
	font-family: Roboto, sans-serif;
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.projects .text {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}
.projects .description {
	font-family: Roboto, sans-serif;
	color: var(--button-text-color);
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	letter-spacing: 0.03em;
}
